* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Segoe UI';
}

.megacontainer {
    overflow: hidden;
}

.screen {
    width: 100%;
    min-height: 100%;
}

.wallpaper {
    width: 100%;
    height: 100vh;
    padding: 0.5px;
    background-image: url('https://cdn.wallpaperhub.app/cloudcache/f/0/3/f/8/a/f03f8a91e5396f8bb7cebaf7410d9a619e14ed7f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.task-bar {
    width: 100%;
    height: 55px;
    color: white;
    background-color: rgba(30, 33, 36, 0.979);
    border-top: 1px solid rgb(101, 101, 121);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 100%;
    display: flex;
    justify-content: space-between;
}

.task-bar-left-box {
    width: 30%;
    height: 100%;
    display: flex;
}

.task-bar-center-box {
    width: 30%;
    min-width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-start-button {
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-start-button:checked {
    padding: 20px;
    background-color: red;
}

.window-start-button:hover {
    background-color: rgb(51, 54, 58);
}

.window-start-button-icon {
    width: 26px;
    height: 26px;
}

.task-bar-search-box {
    margin: 5px;
}

.search-bar {
    width: 220px;
    height: 30px;
    padding: 17px;
    color: white;
    background-color: rgba(129, 128, 128, 0.596);
    border-radius: 30px;
    border: 0;
}

.search-bar::placeholder {
    color: white;
}

.search-bar:hover {
    background-color: rgba(141, 137, 137, 0.596);
}

.task-bar-app-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-bar-app {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-bar-app:hover {
    background-color: rgb(51, 54, 58);
}

.task-bar-app-icon {
    width: 27px;
    height: 27px;
    margin: 2px;
}

.task-bar-right-box {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.hidden-icons {
    width: 30px;
    padding: 10px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-icons:hover {
    background-color: rgb(51, 54, 58);
}

.hidden-icons-icon {
    width: 20px;
}

.language-box {
    width: 45px;
    margin: 5px 2px 5px 2px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-box:hover {
    background-color: rgb(51, 54, 58);
}

.quick-setting-box {
    width: 80px;
    min-width: 80px;
    padding: 0 2px 0 2px;
    margin: 5px 2px 5px 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quick-setting-box:hover {
    background-color: rgb(51, 54, 58);
}

.wifi-box {
    width: 18px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speaker-box {
    width: 16px;
    height: 16px;
    mix-blend-mode: color-dodge;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battery-box {
    width: 20px;
    height: 22px;
    font-size: 10.4px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.quick-setting-icon {
    width: 100%;
    height: 100%;
}

.time-date-box {
    width: 115px;
    margin: 5px;
    padding-left: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.time-date-box:hover {
    background-color: rgb(51, 54, 58);
}

.time-date {
    width: 75px;
    margin-right: 5px;
    font-size: 12px;
    text-align: end;
}

.time-box {
    width: 100%;
    letter-spacing: 1.2px;
}

.date-box {
    width: 100%;
    letter-spacing: 1.2px;
}

.notification-box {
    width: 30px;
}

.notification-icon {
    width: 22px;
    height: 20px;
}

/* ***************** start menu css ******************* */

.start-menu-box {
    width: 35%;
    height: 68%;
    background-color: rgba(41, 42, 42, 0.839);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -36%);
    animation: slideInStart 0.5s forwards;
}

@keyframes slideInStart {
    0% {
        opacity: 0;
        transform: translateY(800px) translate(-50%, -36%);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) translate(-50%, -36%);
    }
}

.start-menu-search-bar-box {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-menu-search-bar {
    width: 85%;
    height: 20px;
    padding: 3px 3px 4px 25px;
    color: white;
    background-color: black;
    box-shadow: 0 0 0 0.5px rgb(85, 84, 84);
    border: 0;
    border-radius: 20px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
}

.start-menu-search-bar::placeholder {
    color: rgb(177, 177, 177);
}

.start-menu-button-box {
    width: 80%;
    height: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-menu-pinned-label {
    color: white;
    font-size: 15px;
}

.start-menu-all-app-button {
    width: 60px;
    height: 25px;
    color: white;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-apps-box {
    width: 90%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.start-menu-app-box {
    width: 16.66%;
    height: 100px;
    aspect-ratio: 4 / 4;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-menu-app-box:hover {
    background-color: rgba(255, 255, 255, 0.192);
}

.start-menu-app-icon {
    width: 40px;
    margin-bottom: 5px;
}

.start-menu-app-name {
    color: white;
    font-size: 12px;
    text-align: center;
}

/* ************************ quick setting ************************* */

.quick-setting-menu-box {
    width: 363px;
    height: 45%;
    /* padding: 25px; */
    background-color: rgba(37, 37, 37, 0.926);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    position: fixed;
    bottom: 60px;
    right: 10px;
    animation: slideInQuick 0.5s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@keyframes slideInQuick {
    0% {
        opacity: 0;
        transform: translateY(800px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle-button-container-box {
    width: 85%;
    height: 60%;
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
}

.toggle-button-box {
    width: 29%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.toggle-button {
    width: 100%;
    height: 45px;
    background-color: rgba(215, 215, 215, 0.057);
    box-shadow: 0 0 0 1px rgb(75, 75, 75);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button:hover {
    background-color: rgba(215, 215, 215, 0.115);
}

.toggle-button-icon-box {
    width: 50%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-option {
    width: 50%;
    height: 100%;
    /* box-shadow: -0.5px 0 0 0 white, 0 0 0 0 rgb(0, 0, 0), 0px 0 0 0 rgb(0, 0, 0), 0px 0 0 0 rgb(0, 0, 0); */
    border-left: 0.1px solid;
    border-color: rgb(130, 130, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-option-icon {
    width: 38px;
    transform: rotate(90deg);
}

.toggle-button-name {
    color: white;
    font-size: 12px;
    font-weight: 100;
}

.level-adjustment-container-box {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.level-adjustment-box {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume-icon {
    width: 16px;
    height: 16px;
    mix-blend-mode: color-dodge;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;
    width: 90%;
    height: 10px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background-color: #ff3fa9;
    border-radius: 5px;
    --track-color: linear-gradient(90deg, var(--clrPrm) 78%, #888888 81%);
}

input[type="range"]::-webkit-slider-thumb {
    border: 5px solid rgb(83, 83, 83);
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ff3fa9;
    border-radius: 50%;
    margin-top: -9px;
    cursor: pointer;
} 

input[type="range"]::-webkit-slider-thumb:hover {
    border: 3px solid rgb(83, 83, 83);
}

.quick-setting-edit-box {
    width: 100%;
    height: 40px;
    margin-top: 0 auto;
    background-color: rgba(6, 6, 6, 0.398);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.battery-charge-level {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battery-charge-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.battery-charge-percentage {
    color: white;
    font-size: 13px;
    font-weight: 0;
}

.setting-box {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quick-setting-icons {
    width: 22px;
    height: 22px;
}