* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
    font-family:'Segoe UI';
}

.megacontainer {
    overflow: hidden;
}

.screen {
    width: 100%;
    min-height: 100%;
}

.wallpaper {
    width: 100%;
    height: 100vh;
    padding: 0.5px;
    background-image: url('https://cdn.wallpaperhub.app/cloudcache/f/0/3/f/8/a/f03f8a91e5396f8bb7cebaf7410d9a619e14ed7f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.task-bar {
    width: 100%;
    height: 55px;
    color: white;
    background-color: rgba(30, 33, 36, 0.979);
    border-top: 1px solid rgb(101, 101, 121);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 100%;
    display: flex;
    justify-content: space-between;
}

.task-bar-left-box {
    width: 30%;
    height: 100%;
    display: flex;
}

.task-bar-center-box {
    width: 30%;
    min-width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-start-button {
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-start-button:checked {
    padding: 20px;
    background-color: red;
}

.window-start-button:hover {
    background-color: rgb(51, 54, 58);
}

.window-start-button-icon {
    width: 26px;
    height: 26px;
}

.task-bar-search-box {
    margin: 5px;
}

.search-bar {
    width: 220px;
    height: 30px;
    padding: 17px;
    color: white;
    background-color: rgba(129, 128, 128, 0.596);
    border-radius: 30px;
    border: 0;
}

.search-bar:hover {
    background-color: rgba(141, 137, 137, 0.596);
}

.task-bar-app-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-bar-app {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-bar-app:hover {
    background-color: rgb(51, 54, 58);
}

.task-bar-app-icon {
    width: 27px;
    height: 27px;
    margin: 2px;
}

.task-bar-right-box {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.hidden-icons {
    width: 30px;
    padding: 10px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-icons:hover {
    background-color: rgb(51, 54, 58);
}

.hidden-icons-icon {
    width: 20px;
}

.language-box {
    width: 45px;
    margin: 5px 2px 5px 2px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-box:hover {
    background-color: rgb(51, 54, 58);
}

.quick-setting-box {
    width: 80px;
    min-width: 80px;
    padding: 0 2px 0 2px;
    margin: 5px 2px 5px 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quick-setting-box:hover {
    background-color: rgb(51, 54, 58);
}

.wifi-box {
    width: 18px; 
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speaker-box {
   width: 16px; 
   height: 16px;
   mix-blend-mode:color-dodge;
   display: flex;
   justify-content: center;
   align-items: center; 
}

.battery-box {
    width: 20px; 
    height: 22px;
    font-size: 10.4px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.quick-setting-icon {
    width: 100%;
    height: 100%;
}

.time-date-box {
    width: 115px;
    margin: 5px;
    padding-left: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.time-date-box:hover {
    background-color: rgb(51, 54, 58);
}

.time-date {
    width: 75px;
    margin-right: 5px;
    font-size: 12px;
    text-align: end;
}

.time-box {
    width: 100%;
    letter-spacing: 1.2px;
}

.date-box {
    width: 100%;
    letter-spacing: 1.2px;
}

.notification-box {
    width: 30px;
}

.notification-icon {
    width: 22px;
    height: 20px;
}