<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera</title>
    <link rel="stylesheet" href="camera.css">
</head>

<body>
    <div class="container">
        <div class="setting-tool-box">

        </div>
        <div class="camera-box">
            <video id="video" autoplay></video>
        </div>
        <div class="button-tool-box">
            <div class="slide-up-button-box button-box">
                <img src="images\up-arrow-tail-less.png" alt="" class="slide-up-button-icon">
            </div>
            <div class="video-button-box button-box">
                <img src="images/video_button_icon_white.png" alt="" class="video-button-icon button-icon">
            </div>
            <div class="camera-button-box button-box" id="active">
                <img src="images/camera_button_icon_black.png" alt="" class="camera-button-icon button-icon">
            </div>
            <div class="qr-button-box button-box">
                <img src="images/qr_button_icon_white.png" alt="" class="qr-button-icon button-icon">
            </div>
            <div class="slide-down-button-box button-box">
                <img src="images\up-arrow-tail-less.png" alt="" class="slide-down-button-icon">
            </div>
            <img id="captured-photo" alt="" onclick="closeImageViewer('from-camera')">
        </div>
    </div>
    <div class="photo-viewer-box">
        <img src="images/close_cross_icon.png" alt="" class="close-image-viewer"
            onclick="closeImageViewer('from-viewer')">
        <div class="image-box">
            <img src="/images/app_images/file_explorer_icon.png" alt="" class="image">
        </div>
        <div class="photo-navigation-button">
            <div class="left-button" onclick="perviousImage()">
                <img src="images/arrow_triangle.png" alt="" class="left-button-icon">
            </div>
            <div class="right-button" onclick="nextImage()">
                <img src="images/arrow_triangle.png" alt="" class="right-button-icon">
            </div>
        </div>
    </div>

    <script src="camera.js"></script>
    <script>
        function showImage(num) {
            let imagePreviewBox = document.querySelector('.image-box');
            let imagePreview = document.querySelector('.image');
            let getImage = localStorage.getItem(`camera_photo${num}.png`);
            imagePreview.src = getImage;
            imagePreview.id = num;
            imagePreviewBox.style.display = 'flex';
            setTimeout(() => {
                if (imagePreview.naturalWidth > imagePreview.naturalHeight) {
                    imagePreview.style.width = '100%';
                    imagePreview.style.height = 'max-content';
                }
                else {
                    imagePreview.style.width = 'max-content';
                    imagePreview.style.height = '100%';
                }
            }, 200);
        }

        document.addEventListener('DOMContentLoaded', imageMiniSetter);

        function imageMiniSetter() {
            let num = 1;
            let fileName = `camera_photo${num}.png`;
            let savedPhoto = localStorage.getItem('camera_photo.png');

            while (1 == 1) {
                fileName = `camera_photo${num}.png`;
                if (localStorage.getItem(fileName) == null) {
                    num = num - 1;
                    console.log(num);
                    showImage(num);
                    savedPhoto = localStorage.getItem(`camera_photo${num}.png`);
                    break;
                }
                if (num == 100) {
                    break;
                }
                num += 1;
                // console.log(fileName);
            }

            if (savedPhoto) {
                capturedPhoto.src = savedPhoto;
            }
        }

        function nextImage() {
            let imagePreviewBox = document.querySelector('.image-box');
            let imagePreview = document.querySelector('.image');
            let currentImage = imagePreview.id;
            currentImage = parseInt(currentImage);
            console.log(currentImage);
            while (1 == 1) {
                currentImage -= 1;
                console.log("currentImage 0 " + currentImage);
                if (localStorage.getItem(`camera_photo${currentImage}.png`) != null) {
                    console.log("currentImage 1");
                    currentImage += 1;
                    break;
                }
                if (currentImage == 0) {
                    console.log("currentImage 2");
                    break;
                }
            }
            console.log("currentImage 3");
            if (currentImage > 1) {
                console.log("currentImage 4");
                currentImage -= 1;
                showImage(currentImage);
            }
        }

        function perviousImage() {
            let imagePreviewBox = document.querySelector('.image-box');
            let imagePreview = document.querySelector('.image');
            let currentImage = imagePreview.id;
            currentImage = parseInt(currentImage);
            console.log(currentImage)
            while (1 == 1) {
                currentImage += 1;
                console.log("currentImage 0 " + currentImage);
                if (localStorage.getItem(`camera_photo${currentImage}.png`) != null) {
                    console.log("currentImage 1");
                    currentImage -= 1;
                    break;
                }
                if (currentImage == 100) {
                    console.log("currentImage 2");
                    break;
                }
            }
            console.log("currentImage 3 " + currentImage);
            if (currentImage < 99) {
                console.log("currentImage 4");
                currentImage += 1;
                showImage(currentImage);
            }
        }

        function closeImageViewer(setBox) {
            if (setBox == 'from-viewer') {
                let photoViewerBox = document.querySelector('.photo-viewer-box').style.display = 'none';
                let container = document.querySelector('.container').style.display = 'flex';
            }
            else {
                let photoViewerBox = document.querySelector('.photo-viewer-box').style.display = 'flex';
                let container = document.querySelector('.container').style.display = 'none';
                imageMiniSetter();
            }
        }


        // let cameraMode = "environment";

        // navigator.mediaDevices.getUserMedia({ video: { facingMode: cameraMode } })
        //     .then(function (stream) {
        //         video.srcObject = stream;
        //         video.play();
        //     })
        //     .catch(function (err) {
        //         console.error('Error accessing the camera.', err);
        //     });

        // video.addEventListener('play', function () {
        //     const canvas = document.createElement('canvas');
        //     const context = canvas.getContext('2d');
        //     interval = s0etInterval(function () {
        //         canvas.width = video.videoWidth;
        //         canvas.height = video.videoHeight;
        //         context.drawImage(video, 0, 0, canvas.width, canvas.height);
        //         const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
        //         const code = jsQR(imageData.data, imageData.width, imageData.height, {
        //             inversionAttempts: 'dontInvert',
        //         });
        //         if (code) {
        //             if (code.data == "") {
        //                 console.log('Scaned Empty');
        //             }
        //             else if (search.innerHTML.trim() == '') {
        //                 search.innerHTML = code.data;
        //                 console.log('QR Code detected:', code.data);
        //                 search.style.height = '40px';
        //                 var searchHeight = search.scrollHeight;
        //                 search.style.height = searchHeight + 'px';
        //                 beep.play();
        //                 navigator.vibrate([200]);
        //             }
        //             else if (search.innerHTML.trim() !== '') {
        //                 if (search.innerHTML == code.data) {
        //                     console.log("Same data scanned");
        //                     search.innerHTML = code.data;
        //                     console.log('QR Code detected:', code.data);
        //                     search.style.height = '40px';
        //                     var searchHeight = search.scrollHeight;
        //                     search.style.height = searchHeight + 'px';
        //                 }
        //                 else {
        //                     search.innerHTML = code.data;
        //                     console.log('QR Code detected:', code.data);
        //                     search.style.height = '40px';
        //                     var searchHeight = search.scrollHeight;
        //                     search.style.height = searchHeight + 'px';
        //                     beep.play();
        //                     navigator.vibrate([200]);
        //                 }
        //             }
        //             // You can do whatever you want with the scanned QR code data here
        //             // For example, display it on the page or send it to a server
        //         }
        //     }, 100);
        // });

        // function changeCameraMode() {
        //     rotateCam.removeAttribute('onclick');
        //     rotateCam.style.backgroundColor = "gray";
        //     rotateCam.style.boxShadow = "0 0 0 10px gray";
        //     rotateCam.style.backgroundImage = "url('image_removed')";
        //     if (cameraMode == "environment") {
        //         cameraMode = "user";
        //     }
        //     else {
        //         cameraMode = "environment";
        //     }
        //     countDown();
        //     clearInterval(interval);
        //     navigator.mediaDevices.getUserMedia({ video: { facingMode: cameraMode } })
        //         .then(function (stream) {
        //             video.srcObject = stream;
        //             video.play();
        //             message.style.color = "black";
        //             message.style.backgroundColor = "rgb(146, 169, 232)";
        //             message.innerHTML = "Scan &nbsp&nbsp[QR Code]";
        //         })
        //         .catch(function (err) {
        //             console.error('Error accessing the camera.', err);
        //             message.style.color = "white";
        //             message.style.backgroundColor = "red";
        //             message.innerHTML = "Note:-  *Camera Access is denied by your device!!!";
        //         });
        //     setTimeout(function () {
        //         rotateCam.setAttribute("onclick", "changeCameraMode()");
        //         rotateCam.style.backgroundColor = "white";
        //         rotateCam.style.boxShadow = "0 0 0 10px white";
        //         rotateCam.style.backgroundImage = "url('image/switch-camera.svg')";
        //     }, 5000);
        // }
    </script>
</body>

</html>