.application-box {
    width: 100%;
    height: calc(100vh - 57px);
    display: flex;
    flex-wrap: wrap;
}

.application {
    width: 50%;
    height: 50%;
    box-shadow: 0 0 0 0.5px white;
    /* z-index: 1; */
}

.title-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}

.app-name {
    width: 100px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operation-box {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.test {
    width: calc(100% - 219px);
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minimize-box {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minimize-box:hover {
    background-color: rgb(97, 94, 94);
}

.minimize-icon {
    width: 15px;
}

.maximize-box {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maximize-box:hover {
    background-color: rgb(97, 94, 94);
}

.maximize-icon {
    width: 13px;
}

.close-box {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    background-color: rgb(167, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-box:hover {
    background-color: red;
}

.close-icon {
    width: 17px;
}

.app-page {
    width: 100%;
    height: calc(100% - 40px);
}

.iframe {
    width: 100%;
    height: 100%;
    background-color: white;
}

/* ********************** alert window ****************** */

.alert-window-box {
    width: 300px;
    height: 100px;
    padding-top: 20px;
    background-color: rgb(230, 211, 188);
    border: 2px solid black;
    box-shadow: 0 0 0 1px white;
    border-radius: 9px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-message {
    color: black;
}

.alert-button {
    width: 40%;
    height: 20px;
    padding: 20px;
    margin: 20px;
    color: white;
    background-color: rgb(236, 79, 79);
    border: 2px solid black;
    box-shadow: 0 0 0 1px white;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* **************************** snap layout box ****************************** */

.snap-layout-box {
    width: 20%;
    min-width: 140px;
    min-height: 96px;
    aspect-ratio: 16 / 11;
    padding: 10px 0 10px 0;
    margin: 40px 5px 0 0;
    background-color: rgba(19, 19, 19, 0.926);
    box-shadow: 0 0 0 0.3px white;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    z-index: 997;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

.box-container {
    width: 45%;
    min-width: 62px;
    min-height: 30px;
    /* height: 26%; */
    aspect-ratio: 16 / 8;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.box1 {
    width: 43%;
    height: 100%;
    min-width: 27px;
    min-height: 31px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box2 {
    width: 43%;
    height: 100%;
    min-width: 27px;
    min-height: 31px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box3 {
    width: 63%;
    height: 100%;
    min-width: 40px;
    min-height: 31px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box4 {
    width: 23%;
    height: 100%;
    min-width: 14px;
    min-height: 31px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box5 {
    width: 28%;
    height: 100%;
    min-width: 18px;
    min-height: 31px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box6 {
    width: 28%;
    height: 100%;
    min-width: 18px;
    min-height: 31px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
}

.box7 {
    width: 28%;
    height: 100%;
    min-width: 18px;
    min-height: 31px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box-container3 {
    width: 48%;
    min-width: 67px;
    min-height: 33px;
    /* height: 28%; */
    aspect-ratio: 16 / 8;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.box8 {
    width: 43%;
    height: 45%;
    min-width: 30px;
    min-height: 15px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
    border-top-left-radius: 5px;
}

.box9 {
    width: 43%;
    height: 45%;
    min-width: 30px;
    min-height: 15px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
    border-top-right-radius: 5px;
}

.box10 {
    width: 43%;
    height: 45%;
    min-width: 30px;
    min-height: 15px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
    border-bottom-left-radius: 5px;
}

.box11 {
    width: 43%;
    height: 45%;
    min-width: 30px;
    min-height: 15px;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.879);
    box-shadow: 0 0 0 0.6px white;
    border-bottom-right-radius: 5px;
}