.application-box {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
}

.application {
    width: 50%;
    height: 50%;
}

.title-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}

.app-name {
    width: 100px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operation-box {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.minimize-box {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minimize-box:hover {
    background-color: rgb(97, 94, 94);
}

.minimize-icon {
    width: 22px;
}

.maximize-box {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maximize-box:hover {
    background-color: rgb(97, 94, 94);
}

.maximize-icon {
    width: 15px;
}

.close-box {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    background-color: rgb(167, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-box:hover {
    background-color: red;
}

.close-icon {
    width: 15px;
}

.app-page {
    width: 100%;
    height: calc(100% - 40px);
}

.iframe {
    width: 100%;
    height: 100%;
}