* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Segoe UI';
}

.megacontainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.tool-bar-box {
    width: calc(100% - 20px);
    height: 20px;
    padding: 13px;
    color: white;
    background-color: rgb(75, 51, 72);
    box-sizing: content-box;
    display: flex;
    align-items: center;
}

.button-box {
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box:hover {
    background-color: rgba(98, 98, 98, 0.581);
}

.back-button-icon {
    width: 20px;
    height: 20px;
}

.refresh-button-icon {
    width: 17px;
    height: 17px;
}

.search-button-icon {
    width: 22px;
    height: 22px;
}

.search-bar-box {
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.search-bar {
    width: 80%;
    height: 25px;
    padding-left: 10px;
    margin-left: 5px;
    color: white;
    background-color: rgb(48, 31, 46);
    box-shadow: 0 0 0 0.5px black;
    border: 0px;
    border-radius: 20px;
    outline: none;
}

.search-bar:focus {
    /* background-color: red; */
    /* box-shadow: 0 0 0 5px red; */
    /* border: 0px; */
    background-color: rgb(48, 31, 46);
    box-shadow: 0 0 0 2px rgb(255, 189, 247);
    border-radius: 20px;
}

iframe {
    width: 100%;
    height: calc(100vh - 45px);
    background-color: white;
    border: 0px;

}