<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chrome</title>
    <link rel="shortcut icon" href="images/chrome_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="chrome.css">
</head>

<body>
    <div class="megacontainer">
        <div class="tool-bar-box">
            <div class="back-button-box button-box" onclick="backButtonCommand()">
                <img src="images/arrow_back_icon.png" alt=""
                    class="back-button-icon button-icon">
            </div>
            <div class="refresh-button-box button-box" onclick="refreshButtonCommand()">
                <img src="images/reload_browser_icon.png" alt=""
                    class="refresh-button-icon button-icon">
            </div>
            <div class="search-bar-box">
                <input type="text" class="search-bar">
                <div class="search-button-box button-box" onclick="searchCommand()">
                    <img src="images/search_browser_icon.png" alt=""
                        class="search-button-icon button-icon">
                </div>
            </div>
        </div>
        <div class="iframe-box">
            <iframe src="https://www.google.com/search?igu=1" frameborder="0"></iframe>
        </div>        
    </div>
</body>
<script src="chrome.js"></script>

</html>