<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube</title>
    <link rel="shortcut icon" href="images\youtube_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="youtube.css">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="tool-bar-box">
            <div class="logo-box">
                <img src="images\youtube_icon.png" alt="YouTube" class="logo-icon">
            </div>
            <div class="search-box">
                <input type="text" id="searchInput" placeholder="Search...">
                <div class="search-button" onclick="serachQuery()">
                    <img src="images/search_button_icon.png" alt="" class="search-button-icon">
                </div>
            </div>
        </div>
        <div class="video-feed">
            <div id="searchResultsBox">

            </div>
        </div>
    </div>

    <script src="youtube.js"></script>
</body>

</html>